.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 
}

.title{
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
}
